.App {
    text-align: center;
    display: flex column;
    justify-content: flex-start;
}

:root {
    --bg_purple: #c2c2d6;
    --fg_purple: #8585ad;

    --shadow_colour_mid: #52527a;
}

@keyframes light_shadow_flicker {
    0% {
        text-shadow: 1px 1px 1px var(--fg_purple);
    }
    50% {
        text-shadow: 1px 1px 1px var(--shadow_colour_mid);
    }
    100% {
        text-shadow: 1px 1px 1px black;
    }
}
